.env
repos
logs
html
data
bin/secrets.json
snapshots
manager-html
additional-sites-html
bin/manager.private.key
bin/manager.public.key
.DS_Store
bin/newspack-network/nodes-keys.json
bin/newspack-network/service-accounts.secret
rootCA.pem
worktrees
docker-compose.env-*.yml
